* {
  box-sizing: border-box;
}

.mobileLightMode {
  width: 1006px;
  height: 7995px;

  .divMinHScreen2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #ffffff;
    width: 375px;

    .icon6 {
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .icon5 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .icon {
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .hours9Am7PmDailyTour {
      line-height: 20px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
      font-size: 14px;
    }

    .headerRelative {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;

      .divBgPrimary {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        background: #2c6d46;
        padding: 8px 177px 8px 16px;
      }

      .divFlex {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: #d9d9d9;
        background: #fffffff2;
        padding: 9px 16px;
        min-width: 375px;
        height: 81px;

        .image {
          width: 250px;
          height: 62px;
          overflow: hidden;
        }

        .buttonInlineFlex {
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding: 10px 12px;
        }
      }
    }

    .divMinHScreen {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;

      .a2Days1 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: #666666;
        font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
        font-size: 14px;
      }

      .over15YearsOfExperie {
        margin: -1px 0px 0px;
        line-height: 28px;
        letter-spacing: 0;
        color: #666666;
        font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
        font-size: 20px;
      }

      .cuscoTrips {
        line-height: 40px;
        letter-spacing: 0;
        color: #000000;
        font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
        font-size: 36px;
        font-weight: 700;
      }

      .incaEmpireExploreMac {
        margin: 0px 0px 0px 12px;
        line-height: 28px;
        letter-spacing: 0;
        color: #ffffffe5;
        font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
        font-size: 20px;
      }

      .authenticAdventuresT {
        margin: -1px 0px 0px;
        line-height: 28px;
        letter-spacing: 0;
        color: #ffffffe5;
        font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
        font-size: 20px;
      }

      .divRelative {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        padding: 74px 16px;
        background-image: linear-gradient(
            150.65deg,
            #000000b2 0%,
            #2c6d4699 100%
          ),
          url(../image/meun6kw4-tbjyz2e.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .h1Text5Xl {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .discover {
            margin: 0px 0px 0px 56px;
            line-height: 48px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 48px;
            font-weight: 700;
          }

          .the {
            margin: 0px 0px 0px 128px;
            line-height: 48px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 48px;
            font-weight: 700;
          }

          .spanTextSecondary {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            padding-right: 84px;
            padding-left: 56px;

            .peruvian {
              line-height: 48px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 48px;
              font-weight: 700;
            }

            .andes {
              margin: 0px 0px 0px 43px;
              line-height: 48px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 48px;
              font-weight: 700;
            }
          }
        }

        .paragraphTextXl {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          padding: 0px 76px 1px 3px;
          height: 168px;

          .theHeartOfTheAncient {
            margin: 0px 0px 0px 24px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }

          .picchuAndSpectacular {
            margin: 0px 0px 0px 36px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }

          .landscapesWithOur {
            margin: 0px 0px 0px 54px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }

          .specializedTeam {
            margin: 0px 0px 0px 66px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }
        }

        .divFlex2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-top: 32px;
          padding-right: 69px;
          padding-left: 69px;

          .buttonInlineFlex2 {
            display: flex;
            align-items: center;
            align-self: stretch;
            border-radius: 10px;
            box-shadow: 0px 8px 30px 0px #0000001f, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            background: #f9b83e;
            padding: 8px 52px 8px 32px;

            .exploreTours {
              line-height: 28px;
              letter-spacing: 0;
              color: #000000;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 18px;
              font-weight: 700;
            }
          }

          .buttonInlineFlex3 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 16px 15px 0px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            background: #ffffff;
            padding: 7px 50px 7px 32px;

            .contactUs {
              line-height: 28px;
              letter-spacing: 0;
              color: #2c6d46;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 18px;
            }
          }
        }
      }

      .divContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: #e6e6e64d;
        padding: 80px 16px 0px;
        height: 1528px;
        row-gap: 64px;

        .divTextCenter {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 752px;
          height: 192px;
          row-gap: 16px;

          .h2Text4Xl {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            padding: 0px 67px 1px 42px;
            height: 80px;

            .whyChoose {
              margin: -1px 0px 0px 22px;
              line-height: 40px;
              letter-spacing: 0;
              color: #000000;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }
          }

          .paragraphTextXl2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            padding: 0px 82px 1px 9px;
            height: 112px;

            .offeringUnforgettabl {
              margin: 0px 0px 0px 30px;
              line-height: 28px;
              letter-spacing: 0;
              color: #666666;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 20px;
            }

            .sacredPathsOfTheAnde {
              margin: 0px 0px 0px 6px;
              line-height: 28px;
              letter-spacing: 0;
              color: #666666;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 20px;
            }
          }
        }

        .divGrid {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 896px;
          height: 1000px;
          row-gap: 32px;

          .quality {
            margin: 0px 0px 0px 96px;
            line-height: 24px;
            letter-spacing: 0;
            color: #666666;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
          }

          .cuscoDayTours {
            margin: 16px 0px 0px 48px;
            line-height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }

          .icon3 {
            margin-left: 115px;
            width: 48px;
            height: 48px;
            overflow: hidden;
          }

          .topQualityEquipmentA {
            margin: 0px 0px 0px 5px;
            line-height: 24px;
            letter-spacing: 0;
            color: #666666;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
          }

          .andeanCultureAndHist {
            line-height: 24px;
            letter-spacing: 0;
            color: #666666;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
          }

          .cuscoMachuPicchu {
            margin: -1px 0px 0px;
            line-height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }

          .icon2 {
            width: 48px;
            height: 48px;
            overflow: hidden;
          }

          .divP8 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding: 32px;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .h3TextXl {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 16px;
              padding: 0px 37px 1px 18px;
              height: 56px;

              .packages {
                margin: 0px 0px 0px 72px;
                line-height: 28px;
                letter-spacing: 0;
                color: #000000;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }
            }

            .paragraphTextMutedFo {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 12px;
              padding-right: 74px;
              padding-left: 9px;

              .experiencedLocalGuid {
                margin: 0px 0px 0px 14px;
                line-height: 24px;
                letter-spacing: 0;
                color: #666666;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 16px;
              }

              .withDeepKnowledgeOf {
                margin: 0px 0px 0px 24px;
                line-height: 24px;
                letter-spacing: 0;
                color: #666666;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 16px;
              }
            }
          }

          .divP82 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding: 32px;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .h3TextXl2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 16px;
              padding: 0px 83px 1px 54px;
              height: 56px;

              .adventures {
                margin: 0px 0px 0px 24px;
                line-height: 28px;
                letter-spacing: 0;
                color: #000000;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }
            }

            .paragraphTextMutedFo2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 12px;
              padding-right: 71px;
              padding-left: 14px;
            }
          }

          .divP83 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding: 32px;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .paragraphTextMutedFo3 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 13px;
              padding-right: 70px;
              padding-left: 4px;

              .personalizedExperien {
                margin: 0px 0px 0px 19px;
                line-height: 24px;
                letter-spacing: 0;
                color: #666666;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 16px;
              }
            }
          }

          .divP84 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding: 32px;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .paragraphTextMutedFo4 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 13px;
              padding-right: 72px;
              padding-left: 18px;
            }
          }
        }
      }

      .divContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 80px;
        padding-right: 16px;
        padding-left: 16px;

        .divTextCenter2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          height: 140px;

          .featuredTours {
            margin: -1px 0px 0px 20px;
            line-height: 40px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
          }

          .paragraphTextXl3 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 17px;
            padding: 0px 74px 1px 9px;
            height: 84px;

            .throughPeruSMost {
              margin: 0px 0px 0px 48px;
              line-height: 28px;
              letter-spacing: 0;
              color: #666666;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 20px;
            }

            .spectacularDestinati {
              margin: 0px 0px 0px 12px;
              line-height: 28px;
              letter-spacing: 0;
              color: #666666;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 20px;
            }
          }
        }

        .divGrid2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 64px;
          padding-bottom: 2028px;
          height: 1572px;
          row-gap: 32px;

          .vinicuncaRainbow {
            flex-shrink: 0;
            line-height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
            font-weight: 700;
          }

          .a48 {
            line-height: 20px;
            letter-spacing: 0;
            color: #666666;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 14px;
          }

          .divFlex6 {
            display: flex;
            align-items: flex-start;
            column-gap: 4px;
            padding-right: 25px;
            width: 80px;

            .icon4 {
              flex-shrink: 0;
              width: 16px;
              height: 16px;
              overflow: hidden;
            }
          }

          .buttonInlineFlex4 {
            display: flex;
            align-items: center;
            margin-left: 43px;
            border-radius: 10px;
            box-shadow: 0px 8px 30px 0px #0000001f, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding: 8px 36px 8px 12px;
            background-image: linear-gradient(90deg, #2c6d46 0%, #3b915d 100%);
          }

          .divText2Xl {
            display: flex;
            align-items: flex-start;
            padding-right: 21px;
            padding-bottom: 1px;
            height: 32px;

            .a1502 {
              margin: -1px 0px 0px;
              line-height: 32px;
              letter-spacing: 0;
              color: #2c6d46;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .aPeople {
              margin: 8px 0px 0px 4px;
              line-height: 20px;
              letter-spacing: 0;
              color: #666666;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 14px;
            }
          }

          .divFlex8 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin: 16px 1px 0px;
          }

          .divFlex7 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin: 16px 1px 0px;
            padding-right: 160px;
            min-width: 293px;
            height: 20px;
          }

          .imageWFull {
            display: flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            padding: 16px 16px 208px;
            min-width: 341px;
            overflow: hidden;

            .spanPx3 {
              display: flex;
              align-items: center;
              margin-top: 2px;
              border-radius: 9999px;
              background: #f3f4f6;
              padding: 3px 19px 3px 12px;

              .moderate {
                line-height: 16px;
                letter-spacing: 0;
                color: #4b5563;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 12px;
              }
            }

            .divAbsolute {
              display: flex;
              align-items: center;
              border-radius: 9999px;
              background: #f9b83e;
              padding: 4px 14px 4px 12px;

              .a150 {
                line-height: 24px;
                letter-spacing: 0;
                color: #000000;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }

          .divRoundedLg {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 2387px;
            height: 512px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP6 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              padding: 24px;

              .h3TextXl3 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 5px;
                padding-bottom: 2849px;
                width: 293px;
                height: 56px;
              }

              .divFlex5 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 1px;
                margin-top: 24px;

                .divFlex3 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;

                  .span {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 4px;
                    padding-right: 47px;
                    padding-bottom: 2937px;
                    width: 131px;
                    height: 40px;
                  }
                }

                .divFlex4 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: space-between;
                  padding-right: 1px;
                  width: 142px;
                  min-width: 142px;
                  height: 40px;

                  .span2 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-bottom: 2937px;
                    width: 123px;
                    height: 40px;
                  }
                }
              }
            }
          }

          .divRoundedLg2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 2953px;
            height: 492px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP62 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              align-self: stretch;
              padding: 24px;

              .h3TextXl4 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 29px;
                padding-bottom: 3395px;
                width: 293px;
                height: 56px;
              }

              .divFlex11 {
                display: flex;
                align-items: flex-start;
                column-gap: 85px;
                margin-top: 24px;
                width: 208px;

                .divFlex9 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: space-between;
                  padding-right: 10px;
                  width: 62px;
                  min-width: 62px;
                  height: 20px;
                }

                .divFlex10 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: space-between;
                  padding-right: 27px;
                  width: 146px;
                  min-width: 146px;
                  height: 20px;
                }
              }

              .divFlex12 {
                display: flex;
                align-items: center;
                align-self: stretch;
                justify-content: space-between;
                margin-top: 16px;
                padding-right: 160px;
                min-width: 293px;
                height: 20px;
              }

              .divFlex13 {
                display: flex;
                align-items: center;
                align-self: stretch;
                margin-top: 16px;
              }
            }
          }

          .divRoundedLg3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 3403px;
            height: 568px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP63 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              padding: 24px;

              .h3TextXl5 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 5px;
                padding-bottom: 3921px;
                width: 293px;
                height: 112px;
              }

              .divFlex16 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 1px;
                margin-top: 24px;

                .divFlex14 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;

                  .span3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 4px;
                    padding-right: 47px;
                    padding-bottom: 4065px;
                    width: 131px;
                    height: 40px;
                  }
                }

                .divFlex15 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: space-between;
                  padding-right: 1px;
                  width: 142px;
                  min-width: 142px;
                  height: 40px;

                  .span4 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-bottom: 4065px;
                    width: 123px;
                    height: 40px;
                  }
                }
              }
            }
          }
        }

        .buttonInlineFlex5 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin: 118px 81px 0px;
          border-radius: 10px;
          box-shadow: 0px 8px 30px 0px #0000001f, 0px 0px 0px 0px #00000000,
            0px 0px 0px 0px #00000000;
          padding: 12px 63px 12px 32px;
          background-image: linear-gradient(90deg, #2c6d46 0%, #3b915d 100%);
        }
      }

      .divGrid3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 80px;
        background: #2c6d46;
        padding: 80px 16px;
        min-width: 375px;
        height: 372px;

        .uniqueTours {
          margin: 9px 0px 0px;
          line-height: 28px;
          letter-spacing: 0;
          color: #ffffffcc;
          font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
          font-size: 18px;
        }

        .autoWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .divTextCenter3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            height: 104px;

            .a10K {
              margin: -1px 0px 0px;
              line-height: 40px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }

            .divTextLg {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 9px;
              padding: 0px 29px 4510px;
              width: 156px;
              height: 56px;

              .satisfied {
                flex-shrink: 0;
                line-height: 28px;
                letter-spacing: 0;
                color: #ffffffcc;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 18px;
              }
            }
          }

          .divTextCenter4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 32px;
            padding-right: 37px;
            padding-left: 13px;
            height: 76px;

            .a50 {
              margin: -1px 0px 0px 32px;
              line-height: 40px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }
          }
        }

        .autoWrapper2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .divTextCenter5 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            height: 104px;

            .a15 {
              margin: -1px 0px 0px 45px;
              line-height: 40px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }

            .divTextLg2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 9px;
              padding-right: 41px;
              padding-left: 24px;

              .yearsOf {
                margin: 0px 0px 0px 11px;
                line-height: 28px;
                letter-spacing: 0;
                color: #ffffffcc;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 18px;
              }

              .experience {
                line-height: 28px;
                letter-spacing: 0;
                color: #ffffffcc;
                font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
                font-size: 18px;
              }
            }
          }

          .divTextCenter6 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 32px;
            padding-right: 29px;
            padding-left: 2px;
            height: 76px;

            .a49 {
              margin: -1px 0px 0px 43px;
              line-height: 40px;
              letter-spacing: 0;
              color: #f9b83e;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 36px;
              font-weight: 700;
            }
          }
        }
      }

      .divContainer3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background: #e6e6e64d;
        padding: 80px 16px 4096px;
        height: 1070px;
        row-gap: 64px;

        .h2Text4Xl2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding: 0px 91px 1px 31px;
          height: 80px;

          .whatOur {
            margin: -1px 0px 0px 54px;
            line-height: 40px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
          }
        }

        .divGrid4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 4790px;
          height: 702px;
          row-gap: 32px;

          .mariaSilva {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
            font-weight: 700;
          }

          .aTheSalkantayTrekWas {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
          }

          .divFlex17 {
            display: flex;
            align-items: flex-start;
            column-gap: 4px;
            padding-right: 21px;
            width: 100px;
          }

          .divRoundedLg4 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 24px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP64 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              padding: 24px 24px 4px;

              .paragraphTextForegro {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 16px;
                padding-bottom: 5043px;
                width: 293px;
                height: 96px;
              }
            }

            .div {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 12px;
              padding-right: 150px;
              padding-bottom: 5159px;
              width: 293px;
              height: 44px;
            }
          }

          .divRoundedLg5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 24px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP65 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              padding: 24px 24px 4px;

              .paragraphTextForegro2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 16px;
                padding-bottom: 5317px;
                width: 293px;
                height: 96px;
              }
            }

            .div2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 12px;
              padding-right: 139px;
              padding-bottom: 5433px;
              width: 293px;
              height: 44px;
            }
          }

          .divRoundedLg6 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #d9d9d9;
            border-radius: 12px;
            box-shadow: 0px 1px 2px 0px #0000000d, 0px 0px 0px 0px #00000000,
              0px 0px 0px 0px #00000000;
            padding-bottom: 24px;
            overflow: hidden;
            background-image: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

            .divP66 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              padding: 24px 24px 4px;

              .paragraphTextForegro3 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 16px;
                padding-bottom: 5591px;
                width: 293px;
                height: 72px;
              }
            }

            .div3 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 12px;
              padding-right: 159px;
              padding-bottom: 5683px;
              width: 293px;
              height: 44px;
            }
          }
        }
      }

      .divContainer4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        padding: 80px 16px;
        background-image: linear-gradient(
          149.48deg,
          #2c6d46 0%,
          #3b915d 50%,
          #255b3a 100%
        );

        .h2Text4Xl3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          padding: 0px 68px 1px 20px;
          height: 120px;

          .readyForYour {
            margin: -1px 0px 0px;
            line-height: 40px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
          }

          .andean {
            margin: 0px 0px 0px 86px;
            line-height: 40px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
          }

          .adventure {
            margin: 0px 0px 0px 43px;
            line-height: 40px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 36px;
            font-weight: 700;
          }
        }

        .paragraphTextXl4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 24px;
          padding: 0px 85px 1px 3px;
          height: 112px;

          .sacredPathsOfThePeru {
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }

          .andes2 {
            margin: 0px 0px 0px 132px;
            line-height: 28px;
            letter-spacing: 0;
            color: #ffffffe5;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 20px;
          }
        }

        .divFlex20 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 32px;
          padding-bottom: 6196px;
          height: 96px;
          row-gap: 16px;

          .a51984123456 {
            line-height: 24px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 16px;
          }

          .divFlex18 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-radius: 12px;
            background: #ffffff1a;
            padding: 12px 109px 12px 85px;
            min-width: 343px;
            height: 48px;
          }

          .divFlex19 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-radius: 12px;
            background: #ffffff1a;
            padding: 12px 79px 12px 42px;
            min-width: 343px;
            height: 48px;
          }
        }

        .buttonInlineFlex6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin: 48px 69px 0px;
          border-radius: 10px;
          background: #f9b83e;
          padding: 8px 50px 8px 32px;

          .requestQuote {
            line-height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 18px;
          }
        }
      }
    }

    .divContainer5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: #2c6d46;
      padding: 48px 16px 6432px;
      height: 1009px;
      row-gap: 32px;

      .divGrid5 {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding-bottom: 6372px;
        height: 544px;
        row-gap: 32px;

        .quickLinks {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: #ffffff;
          font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
          font-size: 18px;
          font-weight: 700;
        }

        .expertsInAuthenticAd {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: #ffffffcc;
          font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
          font-size: 16px;
        }

        .div4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          padding-bottom: 4px;

          .divFlex21 {
            display: flex;
            align-items: center;
            align-self: stretch;
            padding-right: 165px;
            height: 32px;

            .icon7 {
              width: 32px;
              height: 32px;
              overflow: hidden;
            }

            .cuscoTrips2 {
              margin: 0px 0px 0px 8px;
              line-height: 32px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .paragraphTextPrimary {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 16px;
            padding-right: 45px;
            padding-bottom: 6560px;
            width: 343px;
            height: 120px;
          }
        }

        .divFlex22 {
          display: flex;
          position: absolute;
          top: 184px;
          left: 0;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 16px;
          width: 60px;
          height: 20px;
        }

        .div5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          z-index: 1;
          padding-bottom: 6652px;
          height: 124px;
          row-gap: 16px;

          .listSpaceY2 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            padding-right: 257px;
            padding-bottom: 6792px;
            width: 343px;
            height: 96px;
            row-gap: 8px;
          }
        }

        .div6 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          z-index: 2;
          padding-bottom: 6848px;
          height: 124px;
          row-gap: 16px;

          .listSpaceY22 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            padding-right: 151px;
            padding-bottom: 6988px;
            width: 343px;
            height: 96px;
            row-gap: 8px;
          }
        }

        .div7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          z-index: 3;
          padding-bottom: 7044px;
          height: 124px;
          row-gap: 16px;

          .divSpaceY3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            padding-bottom: 7184px;
            height: 96px;
            row-gap: 12px;

            .a519841234562 {
              line-height: 24px;
              letter-spacing: 0;
              color: #ffffffcc;
              font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
              font-size: 16px;
            }

            .divFlex23 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;

              .icon8 {
                width: 18px;
                height: 20px;
                overflow: hidden;
              }

              .spanTextPrimaryForeg {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 12px;
                padding-right: 15px;
                padding-bottom: 7184px;
                width: 313px;
                height: 48px;
              }
            }

            .divFlex24 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 190px;
              min-width: 343px;
              height: 24px;
            }

            .divFlex25 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              justify-content: space-between;
              padding-right: 117px;
              min-width: 343px;
              height: 24px;
            }
          }
        }
      }

      .divFlex27 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #ffffff33;
        padding: 32px 93px 0px 3px;

        .a2024CuscoTripsAllRi {
          line-height: 20px;
          letter-spacing: 0;
          color: #ffffffcc;
          font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
          font-size: 14px;
        }

        .divFlex26 {
          display: flex;
          align-items: flex-start;
          column-gap: 24px;
          margin-top: 16px;
          margin-left: 5px;
          width: 238px;

          .polTicaDePrivacidade {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: #ffffffcc;
            font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, sans-serif;
            font-size: 14px;
          }
        }
      }
    }
  }

  .mobileLightMode375X6 {
    line-height: 48px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .httpsWwwCuscotripsCo {
    line-height: 30px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
}
